<mat-card-content>
  <mat-card-subtitle>
    <mat-icon>person_add</mat-icon>
    Dados Pessoais
  </mat-card-subtitle>
  <form [formGroup]="formulario" class="container">
    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
      <mat-icon matPrefix>person</mat-icon>
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('nome')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="sobreNome" />
      <mat-icon matPrefix>person</mat-icon>
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('sobreNome')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>CPF</mat-label>
      <input
        type="text"
        matInput
        formControlName="cpf"
        maxlength="14"
        mask="000.000.000-00"
        unmask="true"
      />
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('cpf')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Data de Nascimento</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dataNascimento"
      />
      <mat-datepicker #picker></mat-datepicker>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('dataNascimento')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo">
        <mat-option *ngFor="let sexo of tipoSexoEnum" [value]="sexo.id">
          {{ sexo.descricao }}
        </mat-option>
      </mat-select>

      @if(formulario.get('sexo')?.value){
      <button
        mat-icon-button
        matSuffix
        (click)="removerSelecao($event, 'sexo')"
      >
        <mat-icon>clear</mat-icon>
      </button>
      }
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('sexo')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Estado Civil</mat-label>
      <mat-select formControlName="estadoCivil">
        <mat-option
          *ngFor="let estadoCivil of estadoCivilEnum"
          [value]="estadoCivil.id"
        >
          {{ estadoCivil.descricao }}
        </mat-option>
      </mat-select>
      @if(formulario.get('estadoCivil')?.value){
      <button
        mat-icon-button
        matSuffix
        (click)="removerSelecao($event, 'estadoCivil')"
      >
        <mat-icon>clear</mat-icon>
      </button>
      }
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('estadoCivil')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Naturalidade</mat-label>
      <mat-select formControlName="naturalidade">
        <mat-option
          *ngFor="let naturalidade of naturalidadeEnum"
          [value]="naturalidade.id"
        >
          {{ naturalidade.descricao }}
        </mat-option>
      </mat-select>
      @if(formulario.get('naturalidade')?.value){
      <button
        mat-icon-button
        matSuffix
        (click)="removerSelecao($event, 'naturalidade')"
      >
        <mat-icon>clear</mat-icon>
      </button>
      }
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('naturalidade')"></app-erro
      ></mat-error>
    </mat-form-field>
  </form>
</mat-card-content>
