<mat-card-content>
  <mat-card-subtitle>
    <mat-icon>location_on </mat-icon>
    Dados de Endereço
  </mat-card-subtitle>

  <form [formGroup]="formulario" class="container">
    <mat-form-field appearance="fill" class="field-2">
      <mat-label>CEP</mat-label>
      <input type="text" matInput formControlName="cep" [matAutocomplete]="auto"
        (input)="buscarEnderecoPorCep(formulario.get('cep')?.value)" maxlength="9" />
      <mat-icon matPrefix>navigation</mat-icon>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (endereco of listaEnderecos; track endereco.cep) {
        <mat-option [value]="endereco.cep">
          {{ endereco.cep }}
        </mat-option>
        }
      </mat-autocomplete>
      <mat-error>
        <app-erro [dadosCampo]="formulario.get('cep')"> </app-erro>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-2">
      <mat-label>Tipo Logradouro</mat-label>
      <input matInput formControlName="tipoLogradouro" />
      <mat-icon matPrefix>add_road</mat-icon>
      <mat-error>
        <app-erro [dadosCampo]="formulario.get('tipoLogradouro')"> </app-erro>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-6">
      <mat-label>Logradouro</mat-label>
      <input matInput formControlName="logradouro" />
      <mat-icon matPrefix>signpost</mat-icon>
      <mat-error>
        <app-erro [dadosCampo]="formulario.get('logradouro')"> </app-erro>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-2">
      <mat-label>Número</mat-label>
      <input matInput formControlName="numero" maxlength="8" />
      <mat-icon matPrefix>pin</mat-icon>
      <mat-error>
        <app-erro [dadosCampo]="formulario.get('numero')"> </app-erro>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Complemento</mat-label>
      <input matInput formControlName="complemento" />
      <mat-icon matPrefix>assistant_direction</mat-icon>
      <mat-error>
        <app-erro [dadosCampo]="formulario.get('complemento')"> </app-erro>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="bairro" />
      <mat-icon matPrefix>location_city</mat-icon>
      <mat-error>
        <app-erro [dadosCampo]="formulario.get('bairro')"> </app-erro>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="cidade" />
      <mat-icon matPrefix>business</mat-icon>
      <mat-error>
        <app-erro [dadosCampo]="formulario.get('cidade')"> </app-erro>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="estado" />
      <mat-icon matPrefix>flag_2</mat-icon>
      <mat-error>
        <app-erro [dadosCampo]="formulario.get('estado')"> </app-erro>
      </mat-error>
    </mat-form-field>
  </form>
</mat-card-content>