<app-cabecalho (ativarSidebar)="ativarSidebar()"></app-cabecalho>

<mat-sidenav-container class="container">
  @if (!ehDispositivoMobile) {
  <mat-sidenav #sidenav mode="side" [opened]="sidebarAberta">
    <app-barra-lateral></app-barra-lateral>
  </mat-sidenav>
  } @else {
  <mat-sidenav #sidenav mode="over" [opened]="!sidebarAberta">
    <app-barra-lateral></app-barra-lateral>
  </mat-sidenav>
  }

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-rodape></app-rodape>
  </mat-sidenav-content>
</mat-sidenav-container>
