<form [formGroup]="formulario">
  <mat-card-content>
    <mat-card-subtitle>
      <mat-icon class="icone-subtitulo">ring_volume</mat-icon>
      Dados de Contato
    </mat-card-subtitle>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
      <mat-error
        ><exibir-erro [campo]="formulario.get('email')"></exibir-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmação E-mail</mat-label>
      <input matInput formControlName="confirmacaoEmail"/>
      <mat-icon matPrefix>email</mat-icon>
      <mat-error
        ><exibir-erro [campo]="formulario.get('confirmacaoEmail')"></exibir-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de Telefone</mat-label>
      <mat-select formControlName="tipoTelefone">
        <mat-option
          *ngFor="let tipoTelefone of tipoTelefoneEnum"
          [value]="tipoTelefone.id"
        >
          {{ tipoTelefone.descricao }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>phone</mat-icon>
      <mat-error
        ><exibir-erro [campo]="formulario.get('tipoTelefone')"></exibir-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Número Telefone</mat-label>
      <input matInput formControlName="numeroTelefone" />
      <mat-icon matPrefix>call</mat-icon>
      <mat-error
        ><exibir-erro [campo]="formulario.get('numeroTelefone')"></exibir-erro
      ></mat-error>
    </mat-form-field>
  </mat-card-content>
</form>
