<form [formGroup]="formulario" (ngSubmit)="salvarDados()">
    <mat-card>
        <mat-card-content>
            <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" placeholder="Nome" />
                    <mat-error *ngIf="formulario.get('nome')?.hasError('required')">
                        Nome é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf" placeholder="CPF" />
                    <mat-error *ngIf="formulario.get('cpf')?.hasError('required')">
                        CPF é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" />
                    <mat-error *ngIf="formulario.get('email')?.hasError('required')">
                        Email é obrigatório
                    </mat-error>
                    <mat-error *ngIf="formulario.get('email')?.hasError('email')">
                        Email inválido
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Selecione o sexo</mat-label>
                    <mat-select formControlName="sexo">
                        <mat-option *ngFor="let sexo of tipoSexoEnum" [value]="sexo.id">
                            {{ sexo.descricao }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formulario.get('sexo')?.hasError('required')">
                        Sexo é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataNascimento"
                        placeholder="Selecione a data" required />
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-error *ngIf="formulario.get('dataNascimento')?.hasError('required')">
                        Data de nascimento é obrigatória
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="fill">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefone" placeholder="(XX) XXXXX-XXXX" required />
                    <mat-error *ngIf="formulario.get('telefone')?.hasError('required')">
                        Telefone é obrigatório
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Enviar</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>