mat-card-content,
mat-card-actions {
  border-top: 1px solid #c7c7c7;
}

mat-card-actions {
  border-bottom: 1px solid #c7c7c7;
}

mat-form-field {
  min-width: 300px;
  gap: 10px;
  margin: 10px;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.salvar,
.cancelar {
  width: 250px;
  padding: 20px;
  border-radius: 9px;
  margin: 10px;
  color: #fff !important;
}

.salvar {
  background-color: rgb(3, 82, 7) !important;
}
.cancelar {
  background-color: rgb(82, 3, 3) !important;
}
