<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="aoClicarNoMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/angular.svg" class="logo" alt="Logo do Sistema" />
  <span class="espaco"></span>

  <mat-icon-button
    matBadge="{{ totalNotificacoes }}"
    [matMenuTriggerFor]="notificacaoMenu"
  >
    <mat-icon>notifications</mat-icon>
  </mat-icon-button>

  <mat-menu #notificacaoMenu="matMenu">
    <ng-container *ngIf="listaNotificacoes.length > 0; else semNotificacoes">
      <button
        mat-menu-item
        *ngFor="let notificacao of listaNotificacoes"
        (click)="marcarComoLida(notificacao.id)"
      >
        {{ notificacao.mensagem }} - {{ notificacao.status }}
      </button>
    </ng-container>
    <ng-template #semNotificacoes>
      <button mat-menu-item disabled>Sem notificações</button>
    </ng-template>
  </mat-menu>

  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>