<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="aoClicarNoMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/angular.svg" class="logo" alt="Logo do Sistema" />
  <span class="espaco"></span>

  <mat-icon-button class="icone-notificacao" matBadge="{{ totalNotificacoes }}" [matMenuTriggerFor]="notificacaoMenu">
    <mat-icon>notifications</mat-icon>
  </mat-icon-button>

  <mat-menu #notificacaoMenu="matMenu">
    <ng-container *ngIf="listaNotificacoes.length > 0; else semNotificacoes">
      <div *ngFor="let notificacao of listaNotificacoes" (click)="marcarComoLida(notificacao.id)">
        <button class="notificacao">
          {{ notificacao.mensagem }} - {{ notificacao.status }}
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-template #semNotificacoes>
      <button mat-menu-item disabled>Sem notificações</button>
    </ng-template>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="loginMenu">Entrar</button>

  <mat-menu #loginMenu="matMenu">
    <ng-template matMenuContent class="menu">
      <form [formGroup]="formulario" (click)="$event.stopPropagation()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="emailOuCpf" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="senha" />
        </mat-form-field>
        <button class="login" mat-raised-button color="primary" (click)="fazerLogin(); $event.stopPropagation()">
          Acessar
        </button>
        <a class="acesso" mat-button (click)="recuperarSenha(); $event.stopPropagation()">
          Esqueceu a senha?
        </a>
      </form>
    </ng-template>
  </mat-menu>
</mat-toolbar>