//largura dos campos de formulario personalizados
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  width: 100%;
}

.field-1 {
  grid-column: span 1;
  margin: 0px;
  width: 100%;
}

.field-2 {
  grid-column: span 2;
  margin: 0px;
  width: 100%;
}

.field-3 {
  grid-column: span 3;
  margin: 0px;
  width: 100%;
}

.field-4 {
  grid-column: span 4;
  margin: 0px;
  width: 100%;
}

.field-5 {
  grid-column: span 5;
  margin: 0px;
  width: 100%;
}

.field-6 {
  grid-column: span 6;
  margin: 0px;
  width: 100%;
}

.field-12 {
  grid-column: span 12;
  margin: 0px;
  width: 100%;
}

@media (min-width: 600px) and (max-width: 959px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }

  .field-1,
  .field-2,
  .field-3,
  .field-4,
  .field-5,
  .field-6,
  .field-12 {
    grid-column: span 6;
    margin: 0px;
  }
}

@media (max-width: 599px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .field-1,
  .field-2,
  .field-3,
  .field-4,
  .field-5,
  .field-6,
  .field-12 {
    grid-column: span 12;
    margin: 0px;
  }
}

/* Definir a cor dos ícones somente dentro dos campos*/
.field-1 mat-icon,
.field-2 mat-icon,
.field-3 mat-icon,
.field-4 mat-icon,
.field-5 mat-icon,
.field-6 mat-icon,
.field-12 mat-icon {
  color: #510468d7 !important;
}

//estilos de table personalizado para mobile e desktop
table {
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
}

.mat-mdc-row {
  color: #000000 !important;
}

.mat-mdc-header-row {
  background-color: #510468d7 !important;
  color: #ffffff !important;
}

.mat-mdc-row:hover {
  background-color: #41018b10 !important;
  color: #000000 !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 6px !important;
}

@media (max-width: 768px) {
  .mat-mdc-header-row {
    display: none;
  }

  .mat-mdc-table {
    display: block;
    width: 100%;
  }

  .mat-mdc-row {
    display: block;
    margin-bottom: 310px;
    background-color: #3e00a321 !important;
  }

  .mat-mdc-cell {
    display: block;
    width: 100%;
    padding: 5px 0;
  }
}

mat-paginator {
  background-color: #510468d7 !important;
  color: #fff !important;
}

.botao-verde,
.botao-vermelho {
  color: #fff !important;
  border-radius: 3px !important;
  width: 250px;
  padding: 20px;
  margin: 10px;
}

.botao-verde {
  background-color: #510468d7 !important;
  color: #ffffff !important;
}

.botao-vermelho {
  background-color: #ffffff !important;
  color: #510468d7 !important;
}

//estilos de dos cards personalizados
mat-card {
  background-color: #3e00a35e !important;
  margin-bottom: 20px !important;
}

mat-card-title {
  margin-bottom: 10px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #a40b3c !important;
}

mat-card-subtitle {
  margin-bottom: 10px !important;
  font-size: 14px !important;
  padding: 5px !important;
  color: #510468d7 !important;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px !important;
}

mat-error {
  color: #260146 !important;
}

div.mat-mdc-select-panel {
  background-color: #ffffff !important;
}

.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: #3e00a321 !important;
}

.mat-datepicker-content .mat-calendar {
  background-color: #ffffff !important;
}

mat-icon {
  margin-right: 5px;
  margin-bottom: -4px;
}

.mat-mdc-card-content {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0) !important;
}

.mat-mdc-card-content {
  position: relative;
  overflow: hidden;
}

.mat-mdc-card-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/nets.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: left center;
  opacity: 0.1;
  animation: moverImagem 290s infinite alternate linear;
  z-index: -1;
}

@keyframes moverImagem {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(50%);
  }
}

mat-paginator {
  margin-bottom: 20px !important;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
  color: #ffffff !important;
}