@use "@angular/material" as mat;
@use "styles/fonts" as *;
@use "grid_personalizado";
@use "@fontsource/open-sans";

body,
html {
  background-color: #ffffff !important;
  margin: 0 !important;
  padding: 0 !important;
}

// @font-face {
//   font-family: 'MinhaFonte';
//   src: url('./app/assets/fontes/') format('woff2');
// }

// html {
//   @include mat.theme((
//     typography: 'MinhaFonte',
//     density: 0
//   ));
// }

:root {
  @include mat.snack-bar-overrides(
    (
      container-color: rgb(7, 116, 25),
      supporting-text-color: rgb(255, 255, 255),
    )
  );
}

.mdc-text-field--disabled {
  background-color: #fffeff69 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ffffff !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #510468d7 !important;
}

app-rodape {
  margin-top: 30px;
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #510468d7;
  color: #ffffff;
  bottom: 0px !important;
  //position: fixed;
}
