/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  overflow: hidden;
}

mat-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

mat-icon {
  margin-right: 5px;
  margin-bottom: -4px;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: solid 1px #ccc;
  margin-top: auto;
}

mat-form-field {
  width: 30%;
  gap: 10px;
  margin: 10px;
}

@media (max-width: 600px) {
  mat-form-field {
    width: 100%;
    margin: 5px;
  }
}

@media (max-width: 960px) {
  mat-form-field {
    width: 95%;
  }
}

.salvar,
.cancelar {
  color: #fff !important;
  border-radius: 9px;
  width: 250px;
  padding: 20px;
  margin: 10px;
}

.salvar {
  background-color: #61971b !important;
}

.cancelar {
  background-color: rgb(82, 3, 3) !important;
}

mat-card {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  box-shadow: none !important;
}
