<mat-card-content>
  <mat-card-subtitle>
    <mat-icon> person_add </mat-icon>
    Dados de Usuário
  </mat-card-subtitle>

  <form [formGroup]="formulario" class="container">
    <mat-form-field appearance="fill" class="field-2">
      <mat-label>Perfil</mat-label>
      <mat-select formControlName="perfilPermissao" (selectionChange)="aoSelecionarPerfil()">
        <mat-option *ngFor="let item of perfilPermissaoEnum" [value]="item">
          {{ item.perfil }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-6">
      <mat-label>Descrição</mat-label>
      <input matInput type="text" formControlName="perfilDescricao" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-2">
      <mat-label>Senha</mat-label>
      <input matInput type="password" autocomplete="on" formControlName="senha" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-2">
      <mat-label>Repetir senha</mat-label>
      <input matInput type="password" autocomplete="on" formControlName="repitaSenha" />
    </mat-form-field>
  </form>
</mat-card-content>