<mat-card-content>
  <mat-card-title>
    <mat-icon>post_add</mat-icon>
    Formulário de cadastro de aluno
  </mat-card-title>

  <mat-card>
    <app-usuario></app-usuario>
  </mat-card>

  <mat-card>
    <app-aluno-dados-pessoais></app-aluno-dados-pessoais>
  </mat-card>

  <mat-card>
    <app-aluno-dados-contato></app-aluno-dados-contato>
  </mat-card>

  <mat-card>
    <app-aluno-dados-endereco></app-aluno-dados-endereco>
  </mat-card>
</mat-card-content>

<mat-card-actions>
  <button class="botao-verde" mat-raised-button (click)="abrirDialogoSalvar()">
    <mat-icon>save</mat-icon>Salvar
  </button>
  <button class="botao-vermelho" mat-raised-button (click)="limparFormulario()">
    <mat-icon>close</mat-icon>Limpar
  </button>
</mat-card-actions>

