<app-header (ativarSidebar)="ativarSidebar()"></app-header>

<mat-sidenav-container class="container">
  @if (!ehDispositivoMobile) {
  <mat-sidenav #sidenav mode="side" [opened]="sidebarAberta">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  } @else {
  <mat-sidenav #sidenav mode="over" [opened]="!sidebarAberta">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  }

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
