mat-sidenav-content {
  height: 95vh;
}

mat-sidenav {
  color: #000000;
  border-radius: 0px;
  border: 1px solid #c7c7c7;
}

mat-card {
  border-radius: 0px;
}

.rodape {
  border-top: 1px solid #c7c7c7;
  color: #000000;
  position: fixed;
  width: 100%;
  bottom: 0;
}
