<mat-card-content>
  <mat-card-title>
    <mat-icon>post_add</mat-icon>
    Formulário de cadastro
  </mat-card-title>

  <mat-card>
    <app-dados-pessoais></app-dados-pessoais>
  </mat-card>

  <mat-card>
    <app-contato></app-contato>
  </mat-card>

  <mat-card>
    <app-endereco></app-endereco>
  </mat-card>
</mat-card-content>

<mat-card-actions>
  <button
    class="salvar"
    mat-raised-button
    (click)="abrirDialogoSalvar()"
    [disabled]="!ativarBotao"
  >
    <mat-icon>save</mat-icon>Salvar
  </button>
  <button class="cancelar" mat-raised-button (click)="limparFormulario()">
    <mat-icon>close</mat-icon>Limpar
  </button>
</mat-card-actions>
