mat-card-content,
mat-card-actions {
  border-top: 1px solid #c7c7c7;
}

mat-card-actions {
  border-bottom: 1px solid #c7c7c7;
}

mat-form-field {
  width: 485px;
  gap: 10px;
  margin: 10px;
}

@media (max-width: 600px) {
  mat-form-field {
    width: 100%;
    margin: 5px;
  }
}

@media (max-width: 960px) {
  mat-form-field {
    width: 95%;
  }
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.salvar,
.cancelar {
  color: #fff !important;
  border-radius: 9px;
  width: 250px;
  padding: 20px;
  margin: 10px;
}

.salvar {
  background-color: #61971b !important;
}

.cancelar {
  background-color: rgb(82, 3, 3) !important;
}
