




.salvar,
.cancelar {
  color: #fff !important;
  border-radius: 9px;
  width: 250px;
  padding: 20px;
  margin: 10px;
}

.salvar {
  background-color: #61971b !important;
}

.cancelar {
  background-color: rgb(82, 3, 3) !important;
}

