<mat-card-content>
  <mat-card-subtitle>
    <mat-icon>ring_volume</mat-icon>
    Dados de Contato
  </mat-card-subtitle>
  <form [formGroup]="formulario" class="container">
    <mat-form-field appearance="fill" class="field-3">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('email')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Confirmação E-mail</mat-label>
      <input
        matInput
        formControlName="confirmacaoEmail"
        AtualizarCampoDiretiva
      />
      <mat-icon matPrefix>email</mat-icon>
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('confirmacaoEmail')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Tipo de Telefone</mat-label>
      <mat-select
        formControlName="tipoTelefone"
        (selectionChange)="alterarMascaraTelefone($event)"
      >
        <mat-option
          *ngFor="let tipoTelefone of tipoTelefoneEnum"
          [value]="tipoTelefone.codigo"
        >
          {{ tipoTelefone.descricao }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>phone</mat-icon>
      @if(formulario.get('tipoTelefone')?.value){
      <button
        mat-icon-button
        matSuffix
        (click)="removerSelecao($event, 'tipoTelefone')"
      >
        <mat-icon>clear</mat-icon>
      </button>
      }
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('tipoTelefone')"></app-erro
      ></mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field-3">
      <mat-label>Número Telefone</mat-label>
      <input
        matInput
        formControlName="numero"
        mask="{{ mascaraTelefone }}"
        unmask="true"
      />
      <mat-icon matPrefix>call</mat-icon>
      <mat-error
        ><app-erro [dadosCampo]="formulario.get('numero')"></app-erro
      ></mat-error>
    </mat-form-field>
  </form>
</mat-card-content>
